<footer style='margin-bottom: 20px'>
  <table
    class='mobile-width'
    cellspacing='0'
    cellpadding='0'
    border='0'
    align='center'
    valign='middle'
    width='560px'
    style='
      background-color: #e1e1e1;
      border-collapse: collapse;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      overflow: hidden;
      width: 560px;
      max-width: 560px;
    '
  >
    <tr>
      <td>
        <div
          class='mobile-footer-font'
          style='
            color: #707070;
            font-size: 15px;
            line-height: 30px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
          '
        >
          PipesHub - Workplace AI Platform
        </div>
      </td>
    </tr>
  </table>
</footer>