<footer style="margin-bottom: 20px">
  <table class="mobile-width" cellspacing="0" cellpadding="0" border="0" align="center" valign="middle" width="560px"
    style="
      background-color: #e1e1e1;
      {{!-- padding: 20px; --}}
      border-collapse: collapse;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      overflow: hidden;
      width: 560px;
	    max-width: 560px;
    ">
    <tr>
      <td>
        <div class="mobile-footer-font" style="
            color: #707070;
            font-size: 15px;
            line-height: 30px;
            text-align: center;
            margin-top: 10px;
          ">
          Product Intelligence Platform
        </div>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; margin: 10px 0 20px; font-size: 0">
        <!-- Added font-size: 0; for removing inline-block gap -->
        <div style="margin-bottom: 10px">
          <a href="https://www.linkedin.com/company/pipeshub/" style="
              text-decoration: none;
              display: inline-block;
              vertical-align: middle;
            ">
            <img height="22" width="22"  alt="LinkedIn" title="LinkedIn Page" loading="lazy" src="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk4Mi1kNS0xMF8xLnBuZw.png"
              {{!-- style="
                max-width: 24px;
                width: 22px;
                height: 22px;
                max-width: 
                object-fit: contain;
                object-position: center;
                overflow: hidden;
              " --}}
               />
          </a>
          <span style="
              color: #707070;
              font-weight: 600;
              font-size: 20px;
              line-height: 30px;
              vertical-align: middle;
              display: inline-block;
              padding-left: 7px;
              padding-right: 7px;
            ">|</span>
          <a href="https://pipeshub.com" style="
              text-decoration: none;
              display: inline-block;
              vertical-align: middle;
            ">
            <img height="22" width="22" alt="Website" title="Website" loading="lazy" src="https://cdn3.iconfinder.com/data/icons/social-media-toolkit-1/32/public-world-internet-social-media-tools-ui-512.png"
              {{!-- style="
                max-width: 24px;
                width: 22px;
                height: 22px;
                object-fit: contain;
                object-position: center;
                overflow: hidden;
              "  --}}
              />
          </a>
          <span style="
              color: #707070;
              font-weight: 600;
              font-size: 20px;
              line-height: 30px;
              vertical-align: middle;
              display: inline-block;
              padding-left: 7px;
              padding-right: 7px;
            ">|</span>
          <a href="mailto:contact@pipeshub.com" style="
              text-decoration: none;
              display: inline-block;
              vertical-align: middle;
            ">
            <img height="22" width="22" alt="Contact Email" title="Contact Email" loading="lazy" src="https://t4.ftcdn.net/jpg/00/98/26/11/360_F_98261159_Po5JS7ds82XaePJIsG1MiEtHRzOeUPNj.jpg"
              {{!-- style="
                max-width: 24px;
                width: 22px;
                height: 22px;
                object-fit: contain;
                object-position: center;
                overflow: hidden;
                align-self: stretch;
              "  --}}
              />
              </a>
        </div>
      </td>
    </tr>
  </table>
</footer>