PORT=3000
NODE_ENV=development
LOG_LEVEL=debug
ALLOWED_ORIGINS=http://localhost:3001

SECRET_KEY=my-secret

FRONTEND_PUBLIC_URL=http://localhost:3001
QUERY_BACKEND=http://localhost:8000
CONNECTOR_BACKEND=http://localhost:8088
CONNECTOR_PUBLIC_BACKEND=
INDEXING_BACKEND=http://localhost:8091

ETCD_URL=http://localhost:2379
ETCD_HOST=localhost

ARANGO_URL=http://localhost:8529
ARANGO_DB_NAME=es
ARANGO_USERNAME=root
ARANGO_PASSWORD=your_password

KAFKA_BROKERS=localhost:9092

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL=redis://:hello123@localhost:6379

MONGO_URI=mongodb://admin:password@localhost:27017/
MONGO_DB_NAME=enterprise-search

QDRANT_API_KEY=your_qdrant_secret_api_key
QDRANT_HOST=localhost
QDRANT_GRPC_PORT=6334
QDRANT_PORT=6333

OLLAMA_API_URL=http://localhost:11434
