NODE_ENV=development
LOG_LEVEL=info
ALLOWED_ORIGINS=

SECRET_KEY=your_random_encryption_secret_key


# Connector Public is useful for getting webhook events or real-time sync events
CONNECTOR_PUBLIC_BACKEND=
# Use Public URL to open web page
FRONTEND_PUBLIC_URL=

ARANGO_PASSWORD=your_arangodb_password

REDIS_PASSWORD=

MONGO_USERNAME=admin
MONGO_PASSWORD=your_mongodb_password

QDRANT_API_KEY=your_qdrant_api_key
