protobuf<=3.20.3
cryptography==44.0.1
fastapi==0.115.6
PyJWT==2.10.1
requests==2.32.3
dependency-injector==4.44.0
python-arango==8.1.4
python-dotenv==1.0.1
etcd3==0.12.0
redis==5.2.1
confluent-kafka==2.8.0
aiolimiter==1.2.1
google-api-core==2.24.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.66.0
python-jose==3.3.0
celery==5.4.0
uuid==1.30
uvicorn==0.30.6